﻿@model Repository.Models.Combo
@{
    var item = Model as Repository.Models.Combo;
    var imgProduct = "/Content/img/" + item.C_Image;
    var productName = item.ComboName;
    var productPrice = item.Total;
    var productType = item.Combo_Product.Select(t => t.Product.ProductType.ProductTypeName).Distinct();
    var productOfCombo = item.Combo_Product.Select(t => t.Product);
}
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container-fluid row">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li>Home</li>
                    <li>Tất cả danh mục</li>
                    <li>Combo</li>
                    <li class="active">@productName</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img  col-md-push-2 -->

            <div class="col-md-5">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src=@Url.Content(@imgProduct) alt="">
                    </div>
                </div>
            </div>

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@productName</h2>
                    <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                    <div>
                        <h3 class="product-price">@productPrice.ToString("N0")đ</h3>
                    </div>
                    <p style="word-break: break-all">

                    </p>

                    @*<div class="product-options">
                            <label>
                                Size
                                <select class="input-select">
                                    <option value="0">X</option>
                                </select>
                            </label>
                            <label>
                                Color
                                <select class="input-select">
                                    <option value="0">Red</option>
                                </select>
                            </label>
                        </div>*@

                    <div class="add-to-cart">
                        <div class="qty-label">
                            Số lượng: 
                            <div class="input-number">
                                <input type="number" value="1" id="quantity" min="1" step="1" />
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <button class="add-to-cart-btn btnAddToCart" data-productId="@item.Id"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
                    </div>

                    <ul class="product-links">
                        <li>Danh mục:</li>
                        @foreach (var t in productType)
                        {
                            <li><a href="#">@t</a></li>
                        }
                    </ul>
                    <ul class="product-links">
                        <li>Sản phẩm của combo:</li>
                        @foreach (var t in productOfCombo)
                        {
                            @Html.ActionLink(@t.ProductName + ", " , "Detail", "Product", new { id = t.Id}, null)
                        }
                    </ul>
                    <ul class="product-links">
                        <li>Share:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Thông tin chi tiết về sản phẩm</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="word-break: break-all">
                                        <i>Không có thông tin mô tả</i>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<script>
    $(document).ready(function () {
        $(".header-search").css('visibility', 'hidden')
        $(".btnAddToCart").on('click', function (event) {
            const startTime = performance.now();
            event.preventDefault();
            var productId = $(this).attr('data-productId');
            var quantity = $("#quantity").val();
            if (quantity <= 0) {
                alert("Số lượng sản phẩm không hợp lệ")
                $("#quantity").val(1);
            } else {
                $.ajax({
                    type: "Post",
                    url: "/Cart/Buy",
                    data: { id: productId, quantity: quantity, isCombo: true },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message)
                            const duration = performance.now() - startTime;
                            console.log(`request add item to cart took ${duration}ms`);
                            location.reload();
                        } else {
                            alert(response.message)
                            $("#quantity").val(1);
                        }
                    },
                    error: function (response) {
                        alert("Thêm sản phẩm thành công")
                        location.reload();
                    }
                })
            }
        })
    })
</script>