﻿@model Repository.Models.Product
@{
    var item = Model as Repository.Models.Product;
    var imgProduct = "/Content/img/" + item.C_Image;
    var productName = item.ProductName;
    var productPrice = item.Price;
    var stock = item.Stock;
    var description = item.C_Description;
}
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container-fluid row">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li>Home</li>
                    <li>Tất cả danh mục</li>
                    <li>@item.ProductType.ProductTypeName</li>
                    <li class="active">@productName</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img  col-md-push-2 -->

            <div class="col-md-5">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src=@Url.Content(@imgProduct) alt="">
                    </div>
                </div>
            </div>

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@productName</h2>
                    <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                    <div>
                        <h3 class="product-price">@productPrice.ToString("N0")đ</h3>
                        @if (stock <= 0)
                        {
                            <span class="product-available">HẾT HÀNG</span>
                        }
                        else
                        {
                            <span class="product-available text-success">Còn hàng</span>
                        }
                    </div>
                    <p style="word-break: break-all">

                    </p>

                    @*<div class="product-options">
                            <label>
                                Size
                                <select class="input-select">
                                    <option value="0">X</option>
                                </select>
                            </label>
                            <label>
                                Color
                                <select class="input-select">
                                    <option value="0">Red</option>
                                </select>
                            </label>
                        </div>*@

                    <div class="add-to-cart">
                        <div class="qty-label">
                            Số lượng: 
                            <div class="input-number">
                                <input type="number" value="1" id="quantity" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <button class="add-to-cart-btn btnAddToCart" data-productId="@item.Id"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
                    </div>

                    <ul class="product-links">
                        <li>Danh mục:</li>
                        <li id="productType" data-productTypeId="@item.ProductTypeId"><a href="#" id="proudctTypeClick">@item.ProductType.ProductTypeName</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Share:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Thông tin chi tiết về sản phẩm</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="word-break: break-all">
                                        @description
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<script>
    $(document).ready(function () {
        $(".header-search").css('visibility', 'hidden')
        //add to cart
        $(".btnAddToCart").on('click', function () {
            const startTime = performance.now();
            event.preventDefault();
            var productId = $(this).attr('data-productId');
            var quantity = $("#quantity").val();
            if (quantity <= 0) {
                alert("Số lượng sản phẩm không hợp lệ")
                $("#quantity").val(1);
            } else {
                $.ajax({
                    type: "Post",
                    url: "/Cart/Buy",
                    data: { id: productId, quantity: quantity, isCombo: false },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message)
                            const duration = performance.now() - startTime;
                            console.log(`request add item to cart took ${duration}ms`);
                            location.reload();
                        } else {
                            alert(response.message)
                            $("#quantity").val(1);
                        }
                    },
                    error: function (response) {
                        alert("Thêm sản phẩm thành công")
                        location.reload();
                    }
                })

            }
        });

        //redirect page to index with specific tab
        $(".product-links li").on('click', function () {
            var productTypeId = $(this).attr("data-productTypeId");
            if (productTypeId == 1) {
                localStorage.setItem("activeTab", productTypeId)
            } else if (productTypeId == 2) {
                localStorage.setItem("activeTab", productTypeId)
            } else if (productTypeId == 3) {
                localStorage.setItem("activeTab", productTypeId)
            } else if (productTypeId == 4) {
                localStorage.setItem("activeTab", productTypeId)
            }
            window.location.href = "/Home/Index"
        })
    })
</script>