﻿@model IEnumerable<Repository.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container-fluid">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav nav-list">
                <li value="0" data-active="category0"><a href="#">Home</a></li>
                <li value="1" data-active="category1"><a href="#">Laptops</a></li>
                <li value="2" data-active="category2"><a href="#">Máy bộ</a></li>
                <li value="3" data-active="category3"><a href="#">Link kiện</a></li>
                <li value="4" data-active="category4"><a href="#">Phụ kiện</a></li>
                <li value="5" data-active="category5"><a href="#">Combo sản phẩm</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
<!-- SECTION -->
@*<div style="visibility:hidden" id="divDisplayItemFound">
    Tìm thấy<span id="numberItems"></span>kết quả.
</div>*@
<div class="section" id="divDisplayProduct">

</div>
<!-- /SECTION -->
<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>02</h3>
                                <span>Days</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>10</h3>
                                <span>Hours</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>34</h3>
                                <span>Mins</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>60</h3>
                                <span>Secs</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">hot deal this week</h2>
                    <p>New Collection Up to 50% OFF</p>
                    <a class="primary-btn cta-btn" href="#">Shop now</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Sản phẩm bán chạy</h3>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab2" class="tab-pane fade in active">
                            <div class="products-slick" data-nav="#slick-nav-2">
                                @foreach (var item in Model)
                                {
                                    if (item.Stock > 0)
                                    {
                                        var imgUrl = "/Content/img/" + @item.C_Image;
                                <div class="product">
                                    <div class="product-img">
                                        <img src=@Url.Content(@imgUrl) alt="">
                                        <div class="product-label">
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Danh mục</p>
                                        <h3 class="product-name"><a href="@Url.Action("Detail", "Product", new { id = @item.Id})">@item.ProductName</a></h3>
                                        <h4 class="product-price">@item.Price.ToString("N0")đ</h4>
                                        @*<div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                        </div>*@
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn btnAddToCart" data-productId="@item.Id.ToString()"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
                                </div>
                                    }

                                }
                            </div>
                            <div id="slick-nav-2" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<script>
    $(document).ready(function () {

        //filter product
        $("#btnFilter").on('click', function (e) {
            e.preventDefault()
            var searchString = $("#txtSearchString").val();
            if (searchString != "") {
               loadProduct3(searchString);
            } else {
                localStorage.setItem("activeTab", 0)
            }
        })

        //load product
        var loadProduct3 = function (searchString) {
            var itemFound = $("#itemFound").val();
            $.ajax({
                type: "Post",
                url: "/Home/FilterItem",
                data: { productName: searchString },
                success: function (response) {
                    if (response == "") {
                        $("#divDisplayItemFound").css("visibility", "hidden")
                        $("#divDisplayProduct").html("<h4 style='text-align:center'><i>Không có sản phẩm phù hợp với nội dung tìm kiếm</i></h4>");
                    } else {
                        $("#divDisplayProduct").html(response);
                        $.rloader({ src: '/Content/js/slick.min.js' });
                    }
                }
            })
        }

        //load category when click navigation
        var loadCategory = function (categoryId) {
            $.ajax({
                type: "Post",
                url: "/Home/LoadCategoryById",
                data: { categoryId: categoryId },
                success: function (response) {
                    $("#divDisplayProduct").html(response);
                    $.rloader({ src: '/Content/js/slick.min.js' });
                }
            })
        }

        //click event in nav-list
        $('.nav-list').on('click', 'li', function (event) {
            $('.nav-list li.active').removeClass('active');
            $("#divDisplayItemFound").css("visibility", "hidden")
            $(this).addClass('active');
            var activeIndex = $(this).index();
            localStorage.setItem('activeTab', activeIndex);
            var categoryId = $(this).attr("value");
            loadCategory(categoryId)
        });


        // add to cart
        $(".btnAddToCart").click(function (e) {
            const startTime = performance.now();
            e.preventDefault();
            var productId = $(this).attr('data-productId');
            $.ajax({
                type: "Post",
                url: "/Cart/Buy",
                data: { id: productId, quantity: 1, isCombo: false },
                success: function (response) {
                    if (response.success) {
                        alert(response.message)
                        const duration = performance.now() - startTime;
                        console.log(`request add item to cart took ${duration}ms`);
                        location.reload();
                    } else {
                        alert(response.message)
                    }
                },
                error: function (response) {
                    alert("Thêm sản phẩm thành công")
                    location.reload();
                }
            })

        })

        //active tab by localstorage
        var searchString = $("#txtSearchString").val();
        if (searchString == "") {
            var activeIndex = localStorage.getItem('activeTab');
            if (Number.isNaN(activeIndex)) {
                console.log('nothing stored');
                $('.nav-list li:nth-child(' + 1 + ')').addClass('active');
            } else {
                $(".nav-list li.active").removeClass("active");
                ++activeIndex
                $('.nav-list li:nth-child(' + activeIndex + ')').addClass('active');
                var categoryId = $(".nav-list li.active").attr("value");
                loadCategory(categoryId)
            }
        }
        var tam = function () {
            alert($("#itemFound").val())
        }
    })
</script>
