﻿<style>
    .modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}
</style>
@{
    ViewBag.Title = "Đơn hàng của tôi";
    var model = Model as Repository.ViewModels.TrackingOrderModel;
    var invoices = model.orderModel;
    var isHavingOrder = model.isHavingOrder;
}
<div class="row" style="margin: 60px; margin-top:10px">
    <h3>Đơn hàng của tôi</h3>
    <br />
    <table class="table table-responsive table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Mã đơn hàng
                </th>
                <th>
                    Ngày mua
                </th>
                <th>Địa chỉ giao hàng</th>
                <th>
                    Tổng tiền
                </th>
                <th>
                    Trạng thái đơn hàng
                </th>
                <th>
                    Hành động
                </th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.isHavingOrder)
            {
                <tr>
                    <td colspan="6" style="text-align:center; font-size: 18px"><i>Chưa có đơn hàng nào</i></td>
                </tr>
            }

            @foreach (var item in invoices)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @{
                            var date = String.Format("{0:dd/MM/yyyy}", @item.C_Date);
                        }
                        @date
                    </td>
                    <td style="word-break: break-all">
                        @item.C_Address
                    </td>
                    <td>
                        @item.Total.ToString("N0") đ
                    </td>
                    <td>
                        @item.C_Status
                    </td>
                    <td>
                        <Button class="btn btn-success btnInvoiceDetail" data-toggle="modal" data-target="#invoiceDetail" data-invoiceId="@item.Id">Chi tiết</Button>
                    <td>
                </tr>
           }
        </tbody>
    </table>

</div>


<!--Detail order model-->
<div id="invoiceDetail" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin chi tiết đơn hàng</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="displayModalData" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $(".header-search").css('visibility', 'hidden')

        // show order detail
        $(".btnInvoiceDetail").on('click', function () {
            var invoiceId = $(this).attr("data-invoiceId");
            $.ajax({
                type: "Post",
                url: "/Order/getInvoiceDetail",
                data: { invoiceId: invoiceId },
                success: function (response) {
                    $("#displayModalData").html(response)
                },
                error: function (response) {
                    console.log(reponse)
                }
            })
        })
    })
</script>