﻿@model IEnumerable<Repository.Models.Combo>
<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">
        <!-- section title -->
        <div class="col-md-12">
            <div class="section-title">
                <h3 class="title">Danh sách combo</h3>
            </div>
        </div>
        <!-- /section title -->
        <!-- Products tab & slick -->
        <div class="col-md-12">
            <div class="row">
                <div class="products-tabs">
                    <!-- tab -->
                    <div id="tab1" class="tab-pane fade in active">
                        <div class="products-slick" data-nav="#slick-nav-1">
                            @foreach (var item in Model)
                            {
                                var imgUrl = "/Content/img/" + @item.C_Image;
                                <div class="product">
                                    <input type="hidden" id="@item.Id" />
                                    <div class="product-img">
                                        <img src=@Url.Content(@imgUrl) alt="">
                                        <div class="product-label">
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Danh mục</p>
                                        <h3 class="product-name">@Html.ActionLink(@item.ComboName, "ComboDetail", "Product", new { id = @item.Id }, null)</h3>
                                        <h4 class="product-price">@item.Total.ToString("N0")đ</h4>
                                        @*<div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                        </div>*@
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn btnAddToCart1" data-productId="@item.Id.ToString()"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</button>
                                    </div>
                                </div>
                            }
                        </div>
                        <div id="slick-nav-1" class="products-slick-nav"></div>
                    </div>
                    <!-- /tab -->
                </div>
            </div>
        </div>
        <!-- Products tab & slick -->
    </div>
    <!-- /row -->
</div>
<!-- /container -->
<script>
    $(document).ready(function () {
        var reloadJsFile = function () {
            $("script").each(function () {
                var oldScript = this.getAttribute("src");
                if (oldScript == "/Content/js/main.js") {
                    $(this).remove();
                    var newScript;
                    newScript = document.createElement('script');
                    newScript.type = 'text/javascript';
                    newScript.src = oldScript;
                    $("#scriptDisplay").append(newScript);
                }
            });
        }
        reloadJsFile()
        //$(".slider").not('.slick-initialized').slick()

        //add item to cart
        //add to cart
        $(".btnAddToCart1").on('click', function (event) {
            const startTime = performance.now();
            event.preventDefault();
            var productId = $(this).attr('data-productId');
            $.ajax({
                type: "Post",
                url: "/Cart/Buy",
                data: { id: productId, quantity: 1, isCombo: true },
                success: function (response) {
                    if (response.success) {
                        alert(response.message)
                        const duration = performance.now() - startTime;
                        console.log(`request add item to cart took ${duration}ms`);
                        location.reload();
                    } else {
                        alert(response.message)
                    }
                },
                error: function (response) {
                    alert("Thêm sản phẩm thành công")
                    location.reload();
                }
            })
        })
    })
</script>