﻿@{
    string username = null;
}
@if (Session["username"] != null)
{
    username = Session["username"].ToString();
}
<input type="hidden" id="txtSession" value="@username" />

<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
                @if (Session["username"] == null)
                {
                    <li><a data-toggle="modal" href="#loginAndRegisterModal"><i class="fa fa-user-o"></i>Đăng nhập</a></li>
                }
                else
                {
                    var customerId = Session["customerId"].ToString();
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-o"></i> @Session["Name"]
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="margin-left:15px">
                            <li class="dropdown-item"><a href="@Url.Action("Index", "Order", new { customerId = customerId })" style="color: black;margin-left:20px">Đơn hàng của tôi</a></li>
                            <li class="dropdown-item"><a href="@Url.Action("Logout","Account")" style="color: black;margin-left:40px">Đăng xuất</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->
    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="@Url.Action("Index","Home")" class="logo">
                            <img src=@Url.Content("/Content/img/logo.png") alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->
                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form>
                            <input class="input" id="txtSearchString" placeholder="Nhập tên sản phẩm....">
                            <button id="btnFilter" class="search-btn">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->
                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        @{

                            var carts = Session["cart"] != null ? (List<Repository.ViewModels.Item>)Session["cart"] : null;
                            double total = 0;
                            var cartSize = 0;
                        }
                        <div class="dropdown">
                            @if (Session["cart"] == null || @carts == null)
                            {
                                <a class="dropdown-toggle" href="" data-toggle="tooltip" title="Chưa có sản phẩm nào trong giỏ hàng" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Giỏ hàng</span>
                                    <div class="qty" id="quantityItemCart">0</div>
                                </a>
                            }
                            else
                            {
                                <a class="dropdown-toggle" href="" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Giỏ hàng</span>
                                    <div class="qty" id="quantityItemCart">0</div>
                                </a>
                            }
                           
                            @if (Session["cart"] != null && @carts != null)
                            {
                                if (carts.Count > 0)
                                {
                                    <div class="cart-dropdown">
                                        <div class="cart-list">
                                            @foreach (var item in carts)
                                            {
                                                if (!item.isCombo)
                                                {
                                                    var img = "/Content/img/" + item.Product.C_Image;
                                                    double amount = item.Product.Price * item.Quantity;
                                                    <div class="product-widget">
                                                        <div class="product-img">
                                                            <img src=@Url.Content(@img) alt="">
                                                        </div>
                                                        <div class="product-body">
                                                            <h3 class="product-name">@Html.ActionLink(item.Product.ProductName, "Detail", "Product", new { id = @item.Product.Id }, null)</h3>
                                                            <h4 class="product-price"><span class="qty">@item.Quantity.ToString()x</span>@item.Product.Price.ToString("N0")đ</h4>
                                                             <h4 class="product-price"><span class="qty">Thành tiền: <br />
                                                             </span>@amount.ToString("N0")đ</h4>
                                                        </div>
                                                        <button class="delete" data-isCombo="@item.isCombo" data-productId="@item.Product.Id"><i class="fa fa-close"></i></button>
                                                    </div>

                                                    total += amount;
                                                    cartSize += item.Quantity;
                                                }
                                                else
                                                {
                                                    var img = "/Content/img/" + item.Combo.C_Image;
                                                    var amount = item.Combo.Total * item.Quantity;
                                                    <div class="product-widget">
                                                        <div class="product-img">
                                                            <img src=@Url.Content(@img) alt="">
                                                        </div>
                                                        <div class="product-body">
                                                            <h3 class="product-name">@Html.ActionLink(@item.Combo.ComboName, "ComboDetail", "Product", new { id = @item.Combo.Id }, null)</h3>
                                                            <h4 class="product-price"><span class="qty">@item.Quantity.ToString()x</span>@item.Combo.Total.ToString("N0")đ</h4>
                                                            <h4 class="product-price"><span class="qty">Thành tiền:<br/></span>@item.Combo.Total.ToString("N0")đ</h4>
                                                        </div>
                                                        <button class="delete"  data-isCombo="@item.isCombo" data-productId="@item.Combo.Id"><i class="fa fa-close"></i></button>
                                                    </div>
                                                    total += amount;
                                                    cartSize += item.Quantity;
                                                }
                                            }

                                        </div>
                                        <div class="cart-summary">
                                            <small>@cartSize (Sản phẩm) được thêm vào giỏ hàng</small>
                                            <h5>Tổng tiền: @total.ToString("N0")đ</h5>
                                        </div>
                                        <input type="hidden" value="@cartSize" id="productNumber" />
                                        <div class="cart-btns">
                                            @Html.ActionLink("Xem giỏ hàng", "Detail", "Cart", null, null)
                                            <a href="#" id="btnCheckout">Thanh toán<i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                }

                            }

                        </div>
                        <!-- /Cart -->
                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<div class="container modal fade" id="loginAndRegisterModal" role="dialog">
    <div class="row">
        @Html.Partial("_loginAndRegister")
    </div>
</div>

<script>
    //drop down menu
    $(document).ready(function () {
        $(".dropdown-toggle").dropdown();
        var productNumber = $("#productNumber").val();
        $("#quantityItemCart").html(productNumber)

        //remove cart item 
        $(".delete").on('click', function () {
            var productId = $(this).attr("data-productId")
            var isCombo = $(this).attr("data-isCombo")
            var isComfirm = confirm("Bạn có chắc muốn xóa sản phẩm?")
            if (isComfirm) {
                $.ajax({
                    type: "Post",
                    url: "/Cart/Remove",
                    data: { id: productId, isCombo: isCombo },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message)
                            location.reload();
                        } else {
                            alert(response.message)
                        }
                    },
                    error: function (response) {
                        console.log(reponse)
                    }
                })
            }
        })

        //checkout
        $("#btnCheckout").on('click', function () {
            var session = $("#txtSession").val();
            if (session == "") {
                alert("Vui lòng đăng nhập trước khi thanh toán")
            } else {
                window.location.href = "/Cart/Checkout";
            }
        })

        //tracking my order

       
    });
</script>