﻿@{
    var model = Model as Repository.ViewModels.InvoiceDetailItemModel;
    var invoiceDetail_Combo = model.invoiceDetailCombo;
    var invoiceDetail_Product = model.invoiceDetailProduct;
}
<table class="table table-responsive table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Hình ảnh
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th style="text-align:center">
                Đơn giá
            </th>
            <th style="text-align: center">
                Số lượng
            </th>
            <th style="text-align: center">
                Thành tiền
            </th>
        </tr>
    </thead>
    <tbody>

        @if (invoiceDetail_Product.Count() > 0)
        {
            foreach (var item in invoiceDetail_Product)
            {
                var imgUrl = "/Content/img/" + item.Product.C_Image;
                <tr>
                    <td style="vertical-align:middle">
                        <img src=@Url.Content(imgUrl) style="width:50px; height:50px" />
                    </td>
                    <td style="vertical-align:middle">
                       @item.Product.ProductName
                    </td>
                    <td style="vertical-align:middle;text-align: center ">
                        @item.UnitPrice.ToString("N0")đ
                    </td>
                    <td style="vertical-align:middle; text-align: center">
                        @item.Quantity
                    </td>
                    <td style="vertical-align:middle; text-align: center">
                        @item.Amount.ToString("N0")đ
                    <td>
                </tr>
            }
         }

        @if (invoiceDetail_Combo.Count() > 0)
        {
            foreach (var item in invoiceDetail_Combo)
            {
                var imgUrl = "/Content/img/" + item.Combo.C_Image;
                <tr>
                    <td style="vertical-align:middle">
                        <img src=@Url.Content(imgUrl) style="width:50px; height:50px" />
                    </td>
                    <td style="vertical-align:middle">
                        @item.Combo.ComboName
                    </td>
                    <td style="vertical-align:middle; text-align: center">
                        @item.UnitPrice.ToString("N0")đ
                    </td>
                    <td style="vertical-align:middle; text-align: center">
                        @item.Quantity
                    </td>
                    <td style="vertical-align:middle; text-align: center">
                        @item.Amount.ToString("N0")đ
                    <td>
                </tr>
            }
        }

        @if(invoiceDetail_Product == null && invoiceDetail_Product == null)
        {
            <tr>
                <td colspan="5" style="text-align:center"><i>Không tìm thấy chi tiết của sản phẩm</i></td>
            </tr>
        }
    </tbody>
</table>
