﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!------ Include the above in your HEAD tag ---------->
    <title>Electro - HTML Ecommerce Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href=@Url.Content("/Content/css/bootstrap.min.css") />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href=@Url.Content("/Content/css/slick.css") />
    <link type="text/css" rel="stylesheet" href=@Url.Content("/Content/css/slick-theme.css") />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href=@Url.Content("/Content/css/nouislider.min.css") />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/font-awesome.min.css")>

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href=@Url.Content("/Content/css/style.css") />
    <link href=@Url.Content("/Content/css/CartDetail.css") rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]
    <!--Login and register-->
    <link type="text/css" rel="stylesheet" href=@Url.Content("/Content/css/LoginAndRegister.css") />
   
</head>
<style>
    .modal-open {
        padding-right: 0px !important;
    }
    body { padding-right: 0 !important }
</style>
<body>
    <!-- HEADER -->
    @Html.Partial("_Header")

    <div class="container-fluid">
        @RenderBody() 
        @RenderSection("Scripts", required: false)
    </div>

    @Html.Partial("_Footer")
    <!-- jQuery Plugins -->
    <div id="scriptDisplay">
        <script src=@Url.Content("/Content/js/jquery.min.js")></script>
        <script src=@Url.Content("/Content/js/bootstrap.min.js")></script>
        <script src=@Url.Content("/Content/js/nouislider.min.js")></script>
        <script src=@Url.Content("/Content/js/jquery.zoom.min.js")></script>
        <script src=@Url.Content("/Content/js/LoginAndRegister.js")></script>
        <script src=@Url.Content("/Content/js/rloader1.5.4_fin.js")></script>
        <script type="text/javascript" src=@Url.Content("/Content/js/slick.min.js")></script>
        <script src=@Url.Content("/Content/js/main.js")></script>
        @*<script src=@Url.Content("/Content/js/Cart.js")></script>*@
    </div>
</body>
</html>
