﻿<!------ Include the above in your HEAD tag ---------->
<div class="col-md-6 col-md-offset-3" style="margin-top:25px">
    <div class="panel panel-login">
        <div class="panel-heading">
            <div class="row">
                <button type="button" class="close" data-dismiss="modal" style="margin-right: 5px">&times;</button>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <a href="#" class="active" id="login-form-link">ĐĂNG NHẬP</a>
                </div>
                <div class="col-xs-6">
                    <a href="#" id="register-form-link">ĐĂNG KÍ</a>
                </div>
            </div>
            <hr>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <form id="login-form">
                        <div class="form-group">
                            <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Tên đăng nhập" value="">
                            <span id="username-error-login" style="color:red"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Mật khẩu">
                            <br />
                            <span id="password-error-login" style="color:red; text-align: center"></span>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="button" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="ĐĂNG NHẬP">
                                    <span id="error-login" style="color:red"></span>
                                 </div>
                            </div>
                        </div>
                    </form>
                    <form id="register-form" style="display: none;" role="form">
                        <div class="form-group">
                            <input type="text" name="FirstName" id="FirstName" tabindex="1" class="form-control" placeholder="Họ" value="">
                            <span id="firstname-error-register" style="color:red; text-align: center"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" name="LastName" id="LastName" tabindex="1" class="form-control" placeholder="Tên" value="">
                            <span id="lastname-error-register" style="color:red; text-align: center"></span>
                        </div>
                        <div class="form-group">
                            <input type="date" name="Birthdate" id="Birthdate" tabindex="1" class="form-control" placeholder="Ngày sinh" value="">
                            <span id="birthdate-error-register" style="color:red; text-align: center"></span>
                        </div>
                        <div class="form-group">
                            <select name="Gender" id="Gender" class="form-control">
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="email" name="Email" id="Email" tabindex="1" class="form-control" placeholder="Nhập Email" value="">
                            <span id="email-error-register" style="color:red; text-align: center"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" name="C_Address" id="C_Address" tabindex="1" class="form-control" placeholder="Nhập địa chỉ" value="">
                            <span id="address-error-register" style="color:red; text-align: center"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" name="C_Password" id="C_Password" tabindex="2" class="form-control" placeholder="Nhập mật khẩu">
                            <span id="password-error-register" style="color:red; text-align: center"></span>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="button" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="ĐĂNG KÍ NGAY">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        //Login function
        $("#login-submit").on('click', function () {
            var username = $("#username").val();
            var password = $("#password").val();
            var isValidated = true;
            if (username == "") {
                $("#username-error-login").text("Tên đăng nhập không được bỏ trống")
                isValidated = false;
            } else {
                $("#username-error-login").text("")
            }
            if (password == "") {
                $("#password-error-login").text("Mật khẩu không được bỏ trống")
                isValidated = false;
            } else {
                $("#password-error-login").text("")
            }
            if (isValidated) {
                $.ajax({
                    type: "Post",
                    url: "/Account/Login",
                    data:{ username: username, password: password},
                    success: function (response) {
                        if (response.message == "True") {
                            location.reload();
                        } else {
                            $("#error-login").text(response.message)
                        }
                    }
                })
                return true;
            } else {
                return false;
            }
        })

        //Register function
        $("#register-submit").on('click', function () {
            var firstname = $("#FirstName").val();
            var lastname = $("#LastName").val();
            var birthdate = $("#Birthdate").val();
            var gender = $("#Gender").val();
            var email = $("#Email").val();
            var address = $("#C_Address").val();
            var password = $("#C_Password").val();
            var isValidated = true;
            if (firstname == "") {
                $("#firstname-error-register").text("Họ không được để trống");
                isValidated = false;
            } else {
                $("#firstname-error-register").text("");
            }
            if (lastname == "") {
                $("#lastname-error-register").text("Tên không được để trống");
                isValidated = false;
            } else {
                $("#lastname-error-register").text("");
            }

            if (birthdate == "") {
                $("#birthdate-error-register").text("Ngày sinh không được để trống");
                isValidated = false;
            } else {
                $("#birthdate-error-register").text("");
            }

            if (email == "") {
                $("#email-error-register").text("Email không được để trống");
                isValidated = false;
            } else {
                if(!validateEmail(email)) {
                    $("#email-error-register").text("Email không hợp lệ");
                    return false;
                } else {
                    $("#email-error-register").text("");

                }
            }
            if (address == "") {
                $("#address-error-register").text("Địa chỉ không được để trống");
                isValidated = false;
            } else {
                $("#address-error-register").text("");
            }
            if (password == "") {
                $("#password-error-register").text("Mật khẩu không được để trống");
                isValidated = false;
            } else {
                $("#password-error-register").text("");
            }
            if (isValidated) {
                $.ajax({
                    type: "Post",
                    url: "/Account/Register",
                    data: {
                        firstname: firstname, lastname: lastname, birthdate: birthdate,
                        gender: gender, email: email, address: address, password: password
                    },
                    success: function (response) {
                        if (response.success == true) {
                            alert(response.message)
                            location.reload();
                            $('#login-form-link').addClass('active');
                            $('#register-form-link').removeClass('active');
                        } else {
                            $("#email-error-register").text(response.message);
                        }
                    }
                })
            } else {
                return false;
            }
        })

        var validateEmail = function (email) {
            const re =  /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/ ;
            return re.test(email);
        }
    })
</script>