﻿@{
    var items = (List<Repository.ViewModels.Item>)Session["cart"];
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            @if (Session["cart"] == null)
            {
                <tr>
                    <td colspan="6"><i style="text-align:center">Chưa có sản phẩm nào trong giỏ hàng</i></td>
                </tr>
            }
            else
            {
                var totalPrice = 0.0;

            <!-- Order Details -->
            <div class="col-md-3"></div>
            <div class="col-md-6 order-details">
                <div class="section-title text-center">
                    <h3 class="title">ĐƠN HÀNG</h3>
                </div>
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>SẢN PHẨM</strong></div>
                        <div><strong>THÀNH TIỀN</strong></div>
                    </div>
                    @{
                        foreach (var item in items)
                        {
                            var productName = "";
                            var quantity = 0;
                            var amount = 0.0;
                            if (item.isCombo)
                            {
                                productName = item.Combo.ComboName;
                                quantity = item.Quantity;
                                amount = item.Combo.Total * quantity;
                            }
                            else
                            {
                                productName = item.Product.ProductName;
                                quantity = item.Quantity;
                                amount = item.Product.Price * quantity;
                            }
                            totalPrice += amount;
                            <div class="order-col">
                                <div>@quantity.ToString()x <strong> @productName</strong></div>
                                <div><strong>@amount.ToString("N0") đ</strong></div>
                            </div>
                        }

                    }
                    <hr />
                    <div class="order-col">
                        <div><strong>TỔNG TIỀN</strong></div>
                        <div><strong class="order-total">@totalPrice.ToString("N0")đ</strong></div>
                    </div>
                </div>
                @*Default = address of customer *@
                <div class="section-title text-center" >
                    <h3 class="title">địa chỉ giao hàng</h3>
                </div>
                @*@Html.BeginForm("CheckOut","Cart", FormMethod.Post)
                {*@
                <form @*method="post"asp-action="CheckOut" asp-controller="Cart"*@> 
                    <div class="form-group">
                        <input class="input" type="text" name="address" placeholder="Địa chỉ" value="@Session["address"].ToString()" id="address">
                        <input type="hidden" id="defaultAddress" placeholder="Địa chỉ" value="@Session["address"].ToString()">
                    </div>
                    <button type="submit" class="primary-btn order-submit btnSubmitOrder" >Đặt hàng</button>
                </form>
                @* } *@
                
            </div>
            <div class="col-md-3"></div>
            <!-- /Order Details -->
            <!-- /Billing Details -->
            <!-- Shiping Details -->
            }
        </div>
        <!-- /Shiping Details -->
        
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
<!-- /SECTION -->
<script>
    $(document).ready(function () {
        $(".header-search").css('visibility', 'hidden')
        var checkout = function (address) {
            $.ajax({
                type: "Post",
                url: "/Cart/CheckOut",
                data: { address: address },
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        window.location.href = "/Home/Index";
                    } else {
                        alert(response.message);
                        window.location.href = "/Cart/Detail";
                    }
                },
                error: function (response) {
                    console.log(response)
                }
            })
        }

        // checkout order
        $(".btnSubmitOrder").click(function (e) {
            e.preventDefault();
            var address = $("#address").val();
            var defaultAddress = $("#defaultAddress").val();
            if (address == "") {
                var isConfirm = confirm("Bạn chưa nhập địa chỉ nhận hàng hệ thống sẽ lấy địa chỉ mặc định khi bạn đăng kí làm địa chỉ nhận hàng ?");
                if (isConfirm) {
                    checkout(defaultAddress);
                }
            } else {
                checkout(address);
            }
        })
    })
</script>