﻿@{
    var items = (List<Repository.ViewModels.Item>)Session["cart"];
}
@{
    string username = null;
    var isVisibility = Session["cart"] == null ? "Visibility: hidden" : "";
}
@if (Session["username"] != null)
{
    username = Session["username"].ToString();
}

<input type="hidden" id="txtSession" value="@username" />

<div class="container" style="margin:60px">
    <div class="row">
        <div class="col-12">
            <div class="table table-responsive">
                <table class="table table-striped table-responsive table-condensed">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Hình ảnh</th>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col" class="text-center">Số lượng</th>
                            <th scope="col" class="text-right">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Session["cart"] == null)
                        {
                            <tr>
                                <td colspan="7" style="text-align:center"><i>Chưa có sản phẩm nào trong giỏ hàng</i></td>
                            </tr>
                        }
                        else
                        {
                            var totalPrice = 0.0;
                            foreach (var item in items)
                            {
                                var img = "";
                                var productName = "";
                                IEnumerable<String> categoryNameOfcombo = null;
                                var categoryNameOfProduct = "";
                                var quantity = 0;
                                var amount = 0.0;
                                var unitprice = 0.0;
                                if (item.isCombo)
                                {
                                    img = "/Content/img/" + item.Combo.C_Image;
                                    productName = item.Combo.ComboName;
                                    categoryNameOfcombo = item.Combo.Combo_Product.Select(t => t.Product.ProductName).Distinct();
                                    quantity = item.Quantity;
                                    amount = item.Combo.Total * item.Quantity;
                                    unitprice = item.Combo.Total;
                                }
                                else
                                {
                                    img = "/Content/img/" + item.Product.C_Image;
                                    productName = item.Product.ProductName;
                                    categoryNameOfProduct = item.Product.ProductName;
                                    quantity = item.Quantity;
                                    amount = item.Product.Price * item.Quantity;
                                    unitprice = item.Product.Price;
                                }
                                totalPrice += amount;
                                <tr>
                                    <td><img src=@Url.Content(img) style="width:100px; height:100px" /> </td>
                                    <td style="vertical-align:middle">@productName</td>
                                    <td style="vertical-align:middle">@unitprice.ToString("N0") đ</td>
                                    <td style="vertical-align:middle">
                                        <div class="input-number">
                                            @if (!item.isCombo)
                                            {
                                                <input type="number" style ="text-align:center" value="@quantity" class="quantity" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" data-isCombo="@item.isCombo" data-productId="@item.Product.Id" />
                                            }
                                            else
                                            {
                                                <input type="number" style ="text-align:center" value="@quantity" class="quantity" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" data-isCombo="@item.isCombo" data-productId="@item.Combo.Id" />
                                            }
                                            <span class="qty-up">+</span>
                                            <span class="qty-down">-</span>
                                        </div>
                                    </td>
                                    <td style="vertical-align:middle" class="text-right">@amount.ToString("N0") đ</td>
                                    @if (!item.isCombo)
                                    {
                                        <td style="vertical-align:middle" class="text-right"><button class="btn btn-sm btn-danger btnDelete" style="margin-right: 10px" data-isCombo="@item.isCombo" data-productId="@item.Product.Id"><i class="fa fa-trash"></i> </button> </td>
                                    }
                                    else
                                    {
                                        <td style="vertical-align:middle" class="text-right"><button class="btn btn-sm btn-danger btnDelete" style="margin-right: 10px" data-isCombo="@item.isCombo" data-productId="@item.Combo.Id"><i class="fa fa-trash"></i> </button> </td>
                                    }
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Thành tiền</td>
                                <td class="text-right">@totalPrice.ToString("N0")đ</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Tổng tiền: </strong></td>
                                <td class="text-right"><strong>@totalPrice.ToString("N0")đ</strong></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12 col-md-6 text-right" style="float:left">
                    <button class="btn btn-lg btn-block btn-default text-uppercase" id="btnShopping">< Tiếp tục mua sắm</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right" style="float:right; @isVisibility">
                    <button class="btn btn-lg btn-block btn-success text-uppercase btnCheckout">Thanh toán ></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".header-search").css('visibility', 'hidden')
        $(".btnDelete").on('click', function () {
            var isConfirm = confirm("Bạn có chắc muốn xóa sản phẩm này không ?");
            var productId = $(this).attr("data-productId")
            var isCombo = $(this).attr("data-isCombo")
            if (isConfirm) {
                $.ajax({
                    type: "Post",
                    url: "/Cart/Remove",
                    data: { id: productId, isCombo: isCombo },
                    success: function (response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            alert(response.message)
                        }
                    },
                    error: function (response) {
                        console.log(reponse)
                    }
                })
            }
        })

        //debounce function
        var debounce = function (func, wait, immediate) {
            var timeout;
            return function () {
                var context = this, args = arguments;
                var later = function () {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        };

        $(".quantity").on('change keypress keydown', debounce(function () {
            var quantity = $(this).val();
            var isCombo = $(this).attr("data-isCombo");
            var productId = $(this).attr("data-productId");
            var parent = this;
            console.log(quantity, isCombo, productId)
            if (quantity <= 0) {
                alert("Số lượng sản phẩm không hợp lệ")
                location.reload();
            } else {
                $.ajax({
                    type: "Post",
                    url: "/Cart/UpdateCart",
                    data: { id: productId, quantity: quantity, isCombo: isCombo },
                    success: function (response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            alert(response.message)
                            location.reload()
                        }
                    },
                    error: function (response) {
                        alert("Thêm sản phẩm thành công")
                        location.reload();
                    }
                })
            }
        }, 1000))

        //checkout buttn click
        $(".btnCheckout").on('click', function () {
            var session = $("#txtSession").val();
            if (session == "") {
                alert("Vui lòng đăng nhập trước khi thanh toán")
            } else {
                window.location.href = "/Cart/Checkout";
            }
        })

        $("#btnShopping").on('click', function () {
            window.location.href = "/Home/Index";
            localStorage.setItem("activeTab", 0)

        })
    })
</script>